// -----------------------
// Fullscreen
// -----------------------
$fullscreen-list: -webkit-full-screen,-moz-full-screen,-ms-fullscreen,full-screen,fullscreen;

$backdrop-list:backdrop,-ms-backdrop;

@each $fullscreen in $fullscreen-list {

     :#{$fullscreen} {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;

        .magnify-header,
        .magnify-footer,
        .magnify-resizable-handle {
            display: none;
        }

        .magnify-stage{
            top:0;
            right:0;
            bottom:0;
            left:0;
            border-width:0;
        }

    }
}

@each $backdrop in $backdrop-list{
    ::#{$backdrop}{

    }
}
