// -----------------------
// General
// -----------------------
.magnify-modal {
    position: absolute;
    width: 320px;
    height: 320px;
    background-color: #111;
    background-color: rgba(0, 0, 0, .85);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
    z-index: 1090;
}

// .magnify-maximize {
//     top: 0 !important;
//     left: 0 !important;
//     width: 100% !important;
//     height: 100% !important;
// }
.magnify-header {
    position: relative;
    height: 40px;
    color: #fff;
    z-index: 2;
    .magnify-toolbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 40px;
    }
}

.magnify-title {
    margin-right: 80px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    cursor: default;
}

.magnify-stage {
    position: absolute;
    top: 40px;
    left: 10px;
    bottom: 40px;
    right: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    z-index: 1;
    img {
        display: inline-block;
        position: relative;
        width: 100%;
    }
}


.magnify-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    z-index: 2;
    .magnify-toolbar {
        display: inline-block;
        height: 40px;
    }
}

.magnify-toolbar {
    font-size: 0;
}

.magnify-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 10px;
    border-width: 0;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    background: none;
    color: #ccc;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    &:hover {
        color: #fff;
    }
    &.magnify-button-close:hover {
        background-color: #ff4545;
    }

    &.magnify-button-maximize:hover {
        background-color: #525252;
    }
}

.is-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.is-grabbing {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

// loading
.magnify-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    &::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        overflow: hidden;
    }
    i {
        font-size: 32px;
    }
}
