//
// General
//

.magnify-modal {
  position: absolute;
  z-index: 1090;
  width: 320px;
  height: 320px;
  background-color: #111;
  background-color: rgba(0, 0, 0, .84);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .32);
  cursor: default;
  outline: none;
  color: #ccc;
}

.magnify-maximize {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.magnify-toolbar {
  font-size: 0;
}

.magnify-header {
  position: relative;
  z-index: 2;
  height: 40px;

  .magnify-toolbar {
    float: right;

    [dir='rtl'] & {
      float: left;
    }
  }
}

.magnify-title {
  padding: 13px 10px;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  overflow: hidden;
}

.magnify-stage {
  position: absolute;
  top: 40px;
  right: 10px;
  bottom: 40px;
  left: 10px;
  z-index: 1;
  border: 1px solid #ccc;
  overflow: hidden;

  &.stage-ready {
    text-align: center;
    font-size: 0;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}

.magnify-image {
  position: absolute;
  display: inline-block;

  &.image-ready {
    position: static;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.magnify-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  text-align: center;

  .magnify-toolbar {
    display: inline-block;
  }
}

.magnify-button {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: none;
  border-width: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #fff;
  }

  svg {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
  }
}

.magnify-button-close:hover {
  background-color: #ff4545;
}

.magnify-button-maximize:hover {
  background-color: #525252;
}

.magnify-button-minimize:hover {
  background-color: #525252;
}
